<h1><%-boardtype[0].title%></h1>
<table class="table table-bordered border-primary">
    <thead><td>작성자</td><td>제목</td><td>날짜</td></thead> 
    <% for(i = 0; i < boards.length; i++) { %>
    <tr>
        <td><%=boards[i].name%></td>
        <td><a href="/board/detail/<%=boards[i].board_id%>/<%=pNum%>" style="text-decoration: none;"><%=boards[i].title%></a></td>
        <td><%=boards[i].date%></td>
    </tr>
    <% } %>
</table>
<% if(boards.length == 0) { 
        if(cls == 'MNG') { %> 
            <p>자료가 없으니 글쓰기 버튼으로 글을 추가해 주십시오.</p>
        <% } else { %>
            <p>글이 존재하지 않습니다.</p>
<% } }%>
<% if(cls == 'MNG') { %>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/board/create/<%=boardtype[0].type_id%>"><button type="button" class="btn btn-info me-md-2">글쓰기</button></a>
    </div>
<% } if(cls == 'CST' && boardtype[0].write_YN == 'Y') { %>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/board/create/<%=boardtype[0].type_id%>"><button type="button" class="btn btn-info me-md-2">글쓰기</button></a>
    </div>
<% } %>
<% for(p = 1; p <= totalPages; p++) { 
    if(p == pNum) { %>
        <span style="font-weight : bold;"><%=p%></span> &nbsp;&nbsp;
    <% } else { %>
        <span><a href="/board/view/<%=boardtype[0].type_id%>/<%=p%>"><%=p%></a></span> &nbsp;&nbsp;
    <% } %>
<% } %>
